* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 320px;
    font-family: 'Helvetica Light';
}

.layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 525px;
}

.row {
    display: flex;
    align-items: stretch;
    height: 80px;
}


#result-string {
    background-color: #1c1c1c;
    height: 75px;
    color: white;
    display: inline-block;
    font-size: 32px;
    text-align: right;
    padding-right: 8px;
    padding-top: 8px;
}

#result-value {
    background-color: #1c1c1c;
    height: 50px;
    color: white;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    padding-right: 8px;
    padding-top: 8px;
}

.button {
    width: 80px;
    height: 80px;
    display: block;
    font-size: 30px;
    font-weight: lighter;
    border: 1.25px solid #000000;
    cursor: pointer;

}


.number {
    background-color: #d4d4d2;
    color: black;
}

.number:hover {
    background-color: #b0b0b0;
    opacity: 80%;
}

.number:focus {
    outline: none;
}



.action {
    background-color: #FF9500;
    color: white;
}

.action:hover {
    opacity: 50%
}


.action:focus {
    outline: none;
}

.fifty-percent {
    width: 50%;
}

.twenty-five-percent {
    width: 25%
}

.seventy-five-percent {
    width: 75%
}