
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    width:320px;
}
.layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    height:525px;
}

.row {
    display: flex;
    align-items: stretch;
    height: 80px;
}


#result-string {
    background-color: black;
    height: 75px;
    color: white;
    display: inline-block;
    font-size: 32px;
    text-align: right;
    padding-right: 8px;
    padding-top: 8px;
}

#result-value {
    background-color: black;
    height: 50px;
    color: white;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    padding-right: 8px;
    padding-top: 8px;
}

.button {
    width: 80px;
    height: 80px;
    display: block;
    font-weight: bold;
    font-size: 30px;
    border: 1.25px solid #000000;
    text-shadow: 0 -1px 0 slategrey;
    cursor: pointer;
}


.number {
    background-color: #d8d9db;
}

.number:hover {
    background-color: #b8b9bb;
}

.number:focus {
    outline: none;
}



.action {
    background-color: #df974c;
    color: white;
 }

 .action:hover {
    background-color: #dfb07e;
}


.action:focus {
    outline: none;
}

.fifty-percent {
    width: 50%;
}

.twenty-five-percent {
    width: 25%
}

.seventy-five-percent {
    width: 75%
}
